.calendar {
    h1 {
        text-align: center;
        color: $site-col-4;
    }
}

.days {
    width: 900px;
    margin: auto;
    padding: 0;
    //background-color: $site-col-1;
    
    ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        display: flex;

        li {
            flex-grow: 1;
            width: $calendar-width;
            text-align: center;
            color: $site-col-3;
            border: solid 1px $site-col-4;
            background-color: $site-col-1;
            p {
                padding: 2px;
                margin: 0;
                color: $site-col-4;
                text-align: center;
                border-bottom: solid 2px $site-col-4;
            }
            .calInName {
                padding: 0px;
                padding-top: 20px;
                border: none;
            }
        }
        .dayName {
            display: none;
        }
        .calEmpty {
            border-color: $site-col-0;
            background-color: $site-col-0;
        }
    }
}

.day {
    height: 140px;
    padding:10px;
    text-align: left;
    color: white;
    //background-color: $site-col-4;
}

@media only screen and (max-width: 600px) {
    .days {
        width: 500px;
        margin: auto;
        padding: 0;
        //background-color: $site-col-1;
        ul {
            list-style: none;
            //margin: 0 auto;
            padding: 0;
            display: inline;
    
            li {
                flex-grow: 1;
                width: $calendar-width-small;
                text-align: center;
                color: $site-col-3;
                border: solid 1px $site-col-4;
                background-color: $site-col-1;
                p {
                    padding: 2px;
                    margin: 0;
                    color: $site-col-4;
                    border-bottom: solid 2px $site-col-4;
                    text-align: center;
                }
                .calInName {
                    padding: 0px;
                    padding-top: 20px;
                    border: none;
                    text-align: left;
                }
            }
            .dayName {
                display: list-item;
                width: 100%;
            }
            .calEmpty {
                border-color: $site-col-0;
                background-color: $site-col-0;
            }
        }
    }
}