//Colours
$site-col-0: #4B4A67;//2C0735;
$site-col-1: #7E8987;//4E148C;
$site-col-2: #8DB580;//613DC1;
$site-col-3: #C2CFB2;//858AE3;
$site-col-4: #DDD1C7;//97DFFC;

//Calendar
$calendar-width: 900px;
$calendar-width-small: 500px;

//Break points
$break-small: 700px;