.main-nav {
  width: 100%;
  float: right;
  margin: 0 0 1em 0;
  padding: 0;
  background-color: #7E8987;
}

.main-nav .reg-nav {
  list-style: none;
  width: 700px;
  margin: 0 auto;
  padding: 0;
}

.main-nav .reg-nav li {
  float: left;
}

.main-nav .reg-nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  border-left: solid 1px #C2CFB2;
  color: #C2CFB2;
}

.main-nav .reg-nav li a:hover {
  color: #DDD1C7;
  background-color: #8DB580;
}

.main-nav .reg-nav li:first-child a {
  border-left: none;
}

.calendar-nav {
  width: 900px;
  margin: auto auto 1em auto;
  padding: 0;
  background-color: #7E8987;
}

.calendar-nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.calendar-nav ul li {
  flex-grow: 1;
  width: 900px;
  text-align: center;
  padding: 15px 0;
  color: #C2CFB2;
  border: solid 1px #C2CFB2;
}

.container .ham-nav {
  display: none;
}

@media only screen and (max-width: 700px) {
  .main-nav {
    background-color: transparent;
    position: fixed;
  }
  .main-nav .reg-nav {
    display: none;
  }
  .change .ham-nav {
    display: list-item;
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }
  .change .ham-nav li {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .change .ham-nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    border-left: solid 1px #C2CFB2;
    color: #C2CFB2;
  }
  .change .ham-nav li a:hover {
    color: #DDD1C7;
    background-color: #8DB580;
  }
  .container {
    display: inline-block;
    cursor: pointer;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

main {
  margin: auto;
}

body {
  background-color: #4B4A67;
}

.calendar h1 {
  text-align: center;
  color: #DDD1C7;
}

.days {
  width: 900px;
  margin: auto;
  padding: 0;
}

.days ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.days ul li {
  flex-grow: 1;
  width: 900px;
  text-align: center;
  color: #C2CFB2;
  border: solid 1px #DDD1C7;
  background-color: #7E8987;
}

.days ul li p {
  padding: 2px;
  margin: 0;
  color: #DDD1C7;
  text-align: center;
  border-bottom: solid 2px #DDD1C7;
}

.days ul li .calInName {
  padding: 0px;
  padding-top: 20px;
  border: none;
}

.days ul .dayName {
  display: none;
}

.days ul .calEmpty {
  border-color: #4B4A67;
  background-color: #4B4A67;
  color: #4B4A67;
}

.days ul .dayEmpty {
  display: none;
}

.day {
  height: 140px;
  padding: 10px;
  text-align: left;
  color: white;
}

.day a {
  text-decoration: none;
  color: #4B4A67;
}

.day a:hover {
  color: #C2CFB2;
}

.calButton {
  position: fixed;
  width: 100%;
  top: 50px;
}

.calButton button {
  float: right;
  padding: 5px;
  margin-right: 20px;
  margin-top: 30px;
  background-color: #7E8987;
  border: solid white 1px;
  border-radius: 10px;
  color: #DDD1C7;
  cursor: pointer;
  outline: none;
}

.calButton button:hover {
  background-color: #8DB580;
  color: white;
}

.toggle .calendar-nav {
  display: none;
}

.toggle .days {
  width: 500px;
  margin: auto;
  padding: 0;
}

.toggle .days ul {
  list-style: none;
  padding: 0;
  display: inline;
}

.toggle .days ul li {
  flex-grow: 1;
  width: 500px;
  text-align: center;
  color: #C2CFB2;
  border: solid 1px #DDD1C7;
  background-color: #7E8987;
}

.toggle .days ul li p {
  padding: 2px;
  margin: 0;
  color: #DDD1C7;
  border-bottom: solid 2px #DDD1C7;
  text-align: center;
}

.toggle .days ul li .calInName {
  padding: 0px;
  padding-top: 20px;
  border: none;
  text-align: left;
}

.toggle .days ul .dayName {
  display: list-item;
  width: 100%;
}

.toggle .days ul .calEmpty {
  border-color: #4B4A67;
  background-color: #4B4A67;
}

@media only screen and (max-width: 900px) {
  .calendar-nav {
    display: none;
  }
  .calButton {
    display: none;
  }
  .days {
    width: 500px;
    margin: auto;
    padding: 0;
  }
  .days ul {
    list-style: none;
    padding: 0;
    display: inline;
  }
  .days ul li {
    flex-grow: 1;
    width: 500px;
    text-align: center;
    color: #C2CFB2;
    border: solid 1px #DDD1C7;
    background-color: #7E8987;
  }
  .days ul li p {
    padding: 2px;
    margin: 0;
    color: #DDD1C7;
    border-bottom: solid 2px #DDD1C7;
    text-align: center;
  }
  .days ul li .calInName {
    padding: 0px;
    padding-top: 20px;
    border: none;
    text-align: left;
  }
  .days ul .dayName {
    display: list-item;
    width: 100%;
  }
  .days ul .calEmpty {
    border-color: #4B4A67;
    background-color: #4B4A67;
  }
}

h1 {
  text-align: center;
  color: #DDD1C7;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  background-color: #8DB580;
  height: 100%;
  padding-bottom: 100px;
  border: solid #DDD1C7 1px;
  border-radius: 10px;
}

.content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid #DDD1C7 2px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.content h2 {
  text-align: center;
  border-bottom: solid #C2CFB2 2px;
}

.content .one {
  border-right: solid #DDD1C7 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.content .two {
  padding-left: 10px;
  padding-right: 10px;
}

.content .three {
  border-left: solid #DDD1C7 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.content p {
  background-color: #DDD1C7;
  color: black;
  padding: 10px;
  border: solid #C2CFB2 1px;
  border-radius: 10px;
}

@media only screen and (max-width: 700px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .content .one {
    border-right: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  .content .two {
    border-top: solid #DDD1C7 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .content .three {
    border-left: none;
    border-top: solid #DDD1C7 1px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

h1 {
  text-align: center;
  color: #DDD1C7;
}

.staff {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 10px;
  background-color: #8DB580;
  height: 100%;
  padding-bottom: 100px;
  border: solid #DDD1C7 1px;
  border-radius: 10px;
  max-width: 960px;
  margin: auto;
}

.staff img {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  border: solid #DDD1C7 2px;
  border-radius: 10px;
}

.staff h2 {
  text-align: center;
  border-bottom: solid #C2CFB2 2px;
}

.staff .one {
  border-right: none;
  padding-left: 10px;
  padding-right: 10px;
}

.staff .two {
  border-top: solid #DDD1C7 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.staff .three {
  border-left: none;
  border-top: solid #DDD1C7 1px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.staff p {
  background-color: #DDD1C7;
  color: black;
  padding: 10px;
  border: solid #C2CFB2 1px;
  border-radius: 10px;
}

.resource {
  background-color: #7E8987;
  padding: 10px;
  border: solid 2px #C2CFB2;
  border-radius: 10px;
}

.resource-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.resource-list a {
  text-decoration: none;
  color: #4B4A67;
}

.overview {
  background-color: #7E8987;
  padding: 10px;
  border: solid 2px #C2CFB2;
  border-radius: 10px;
  color: black;
  max-width: 960px;
  margin: auto;
}

.overview h2 {
  padding: 0px;
  margin: 0px;
  color: #DDD1C7;
}

.overview .content {
  padding-top: 50px;
}

.contact {
  margin: auto;
  max-width: 200px;
  background-color: #7E8987;
  padding: 20px;
  border: solid 2px #C2CFB2;
  border-radius: 10px;
}
/*# sourceMappingURL=styles.css.map */